.header {
  nav {
    padding: 10px 20px;
    display: flex;
    padding-top: 10px;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: grid;
  align-items: center;
  z-index: 99999;

  ul {
    padding-left: 155px;
    display: flex;
    gap: 12px;
    li {
      justify-content: center;
      a.active {
        text-decoration: underline var(--color-base-deep-blue);
        font-weight: 600;
      }
    }
  }
  &-dark {
    a {
      color: var(--color-base-white-100);
    }
    .logo {
      height: auto;
      width: 150px;
      padding-left: 12px;
      fill: var(--color-base-white-100);
    }
  }
  &-light {
    color: var(--color-base-blue-600);

    .logo {
      height: auto;
      width: 150px;
      padding-left: 12px;
      fill: var(--color-base-blue-600);
    }
  }
}

@media only screen and (min-width: 768) {
  .header {
    padding: 10px 100px;
  }
}
